{% if docker_traefik_simple_auth %}
[http.middlewares.simpleAuth.basicAuth]
  users = [
  {% for user in docker_traefik_simple_auth_users %}
    "{{ user.name }}:{{ user.password | password_hash('md5') }}"
  {% endfor %}
  ]
{% endif %}

[http.routers.api]
  rule = "Host(`traefik.glorfischi.xyz`)"
  entrypoints = ["websecure"]
{% if docker_traefik_simple_auth %}
  middlewares = ["simpleAuth"]
{% endif %}
  service = "api@internal"
  [http.routers.api.tls]
    certResolver = "lets-encrypt"
